name: CI

on:
  pull_request:
  push:
    tags:
      - "**"
    branches:
      - main

env:
  BUSTER_CI: 1
  BUSTER_BUILD_DEBUG: 1
  BUSTER_BUILD_NATIVE: 0
  BUSTER_LLVM_VERSION: 21.1.7
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os: [ self-hosted, ubuntu-24.04, macos-15-intel, windows-2025, ubuntu-24.04-arm, macos-26, windows-11-arm ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Build and test (Packaged LLVM) (optimize=0)
        shell: bash
        env:
          BUSTER_OS_TAG: ${{matrix.os}}
        if: matrix.os != 'windows-2025' && matrix.os != 'windows-11-arm'
        run: |
          rm -rf build
          ./build.sh test --optimize=0
      - name: Build and test (Packaged LLVM) (optimize=1)
        shell: bash
        env:
          BUSTER_OS_TAG: ${{matrix.os}}
        if: matrix.os != 'windows-2025' && matrix.os != 'windows-11-arm'
        run: |
          rm -rf build
          ./build.sh test --optimize=1
      - name: Build and test (Packaged LLVM) (optimize=0)
        if: matrix.os == 'windows-2025' || matrix.os == 'windows-11-arm'
        shell: cmd
        env:
          BUSTER_OS_TAG: ${{matrix.os}}
        run: |
          rmdir /s /q build
          build.bat test --optimize=0
      - name: Build and test (Packaged LLVM) (optimize=1)
        if: matrix.os == 'windows-2025' || matrix.os == 'windows-11-arm'
        shell: cmd
        env:
          BUSTER_OS_TAG: ${{matrix.os}}
        run: |
          rmdir /s /q build
          build.bat test --optimize=1
