name: CI

on:
  pull_request:
  push:
    tags:
      - "**"
    branches:
      - main
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        BUSTER_OS_TAG: [ self-hosted, ubuntu-24.04, macos-15-intel, windows-2025, ubuntu-24.04-arm, macos-26, windows-11-arm ]
    runs-on: ${{ matrix.BUSTER_OS_TAG }}
    steps:
      - uses: actions/checkout@v4
      - name: Build and test (UNIX)
        shell: bash
        if: matrix.BUSTER_OS_TAG != 'windows-2025' && matrix.BUSTER_OS_TAG != 'windows-11-arm'
        run: |
          set -euo pipefail
          BUSTER_SELF_HOSTED=0
          if [[ "${{matrix.BUSTER_OS_TAG}}" == "self-hosted" ]]; then
            BUSTER_SELF_HOSTED=1
          fi
          GIT_MAIN_BRANCH=0
          if [ "$(git branch --show-current)" = "main" ]; then
            GIT_MAIN_BRANCH=1
          fi
          ./build.sh test_all --ci=1 --self-hosted=$BUSTER_SELF_HOSTED --main-branch=$GIT_MAIN_BRANCH
      - name: Build and test (Windows)
        if: matrix.BUSTER_OS_TAG == 'windows-2025' || matrix.BUSTER_OS_TAG == 'windows-11-arm'
        shell: powershell
        run: |
          Set-StrictMode -Version Latest
          Set-PSDebug -Trace 1
          $ErrorActionPreference = 'Stop'

          $GIT_MAIN_BRANCH = 0
          if ((git branch --show-current) -eq 'main') {
            $GIT_MAIN_BRANCH = 1
          }

          .\build.ps1 test_all "--ci=1" "--main-branch=$GIT_MAIN_BRANCH"
