name: CI

on:
  pull_request:
  push:
    tags:
      - "**"
    branches:
      - main

env:
  BUSTER_CI: 1
  BUSTER_BUILD_DEBUG: 1
  BUSTER_BUILD_NATIVE: 0
  LLVM_VERSION: 21.1.5

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os: [ self-hosted ] # ubuntu-24.04 ] # ubuntu-24.04-arm, macos-26, macos-13, windows-2025, windows-11-arm ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        if: matrix.os == 'ubuntu-24.04'
        shell: bash
        run: |
          sudo apt-get install -y xorriso qemu-system
      - name: Build and test (Packaged LLVM)
        env:
          CMAKE_PREFIX_PATH: /home/david/dev/toolchain/install/llvm_${{env.LLVM_VERSION}}_x86_64-linux-Release
        shell: bash
        run: |
          build.c test
