name: CI

on:
  pull_request:
  push:
    tags:
      - "**"
    branches:
      - main

env:
  BUSTER_FAST_FUZZ_DURATION_SECONDS: 10
  BUSTER_THOROUGH_FUZZ_DURATION_SECONDS: 180

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        BUSTER_OS_TAG: [ self-hosted, ubuntu-24.04, macos-15-intel, windows-2025, ubuntu-24.04-arm, macos-26, windows-11-arm ]
    runs-on: ${{ matrix.BUSTER_OS_TAG }}
    steps:
      - uses: actions/checkout@v4
      - name: Build and test (UNIX)
        shell: bash
        if: matrix.BUSTER_OS_TAG != 'windows-2025' && matrix.BUSTER_OS_TAG != 'windows-11-arm'
        run: |
          set -euo pipefail
          BUSTER_SELF_HOSTED=0
          if [[ "${{matrix.BUSTER_OS_TAG}}" == "self-hosted" ]]; then
            BUSTER_SELF_HOSTED=1
          fi

          for unity_build in 0 1; do
            for optimize in 0 1; do
              for fuzz in 0 1; do
                echo "Optimize=$optimize. Fuzz=$fuzz. Unity build: $unity_build"
                rm -rf build
                ./build.sh test --ci=1 --self-hosted=$BUSTER_SELF_HOSTED --optimize="$optimize" --fuzz="$fuzz" --unity-build="$unity_build"
              done
            done
          done
      - name: Build and test (Windows)
        if: matrix.BUSTER_OS_TAG == 'windows-2025' || matrix.BUSTER_OS_TAG == 'windows-11-arm'
        shell: powershell
        run: |
          .\build.ps1 test "--ci=1" "--optimize=$optimize" "--fuzz=$fuzz" "--unity-build=$unity_build"
          $rc = $LASTEXITCODE
          if ($rc -ne 0)
          {
            Write-Host "build.ps1 failed: $rc"
            $exitCode = $rc
          }
          exit $exitCode
